/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #333;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #777;
}

/* Smooth scroll for anchor links */
html {
    scroll-behavior: smooth;
}

/* Base font for the entire app */
body {
  font-family: 'Inter', sans-serif;
}
